$background_color: #2f404c;
$green_color: #19a688;
$inactive_color: #637079;
$white: #ffffff;

.main_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  box-shadow: 0 0 11px 3px #0000002b;
  .header {
    min-height: 100px;
    background-color: $background_color;
    display: flex;
    align-items: center;
    justify-content: center;
    .number_area {
      display: flex;
      flex-direction: row;
      .separate_number {
        width: 150px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background-color: $inactive_color;
          width: 106px;
          left: -110px;
          top: 50%;
        }
        &:nth-child(1)::before {
          width: 0;
        }
        &.active::before {
          background-color: $green_color;
        }
        &:last-child {
          width: 35px;
        }
        // &:last-child::after {
        //   width: 0;
        // }
        .number {
          width: 35px;
          height: 35px;
          background-color: $inactive_color;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $white;
          &.active {
            background-color: $green_color;
            transform: none;
          }
        }
      }
    }
  }
  .body_container {
  }
  .footer {
    min-height: 50px;
    background-color: $white;
    display: flex;
    align-items: center;
  }
}

.button_style,
.skip {
  border: none;
  background: $green_color;
  color: $white;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.active {
  border: none !important;
  transform: none;
}

.button_text_area {
  display: flex;
  align-items: center;
}

.loading_spinner {
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid $white;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
