.rate_container {
  --selected_color: yellow;
  --disabled_color:blue;
  --icon_size:24px;
  display: inline-block;
  .start_style {
    font-size: var(--icon_size);
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.3s ease-in-out;
    color: var(--disabled_color);
    &.active {
      color: var(--selected_color);
    }
  }
}
